<!-- <h1 id="tableLabel">Chess session</h1>

<p>This component demonstrates fetching data from the server.</p> -->

<!-- <button class="btn btn-primary" (click)="createSession()">New chess session</button> -->

<!-- <p *ngIf="session.IsEmpty; else sessionCreated"><em>Loading...</em></p>
<ng-template #sessionCreated>Session created...</ng-template>

<p>{{ session.id.value }}</p> -->

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="board.rows">
  <!-- <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead> -->
  <tbody>
    <tr *ngFor="let row of board.rows">
      <td *ngFor="let rowCell of row">{{ rowCell.piece.name }}</td>
    </tr>
  </tbody>
</table>
